// body specific variables.
$application-body-padding-top: 65px; // used for applying padding to body.
$application-primary-color: #F35B1C;
$application-secondary-color: #512B2B;
$application-accent-color: #ebe7e2;
