@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-family-sans-serif: "Open Sans", "Calibri", Helvetica, Arial, sans-serif;
$application-font-size: 15px;
$application-background: #FBF2EA;
$primary-color: #F35B1C;
