<div class="container card-wrapper">
	<h1>{{$ctrl.heading}}</h1>
	<hr>
	<div class="card-container" >
		<div class="row">
			<div class="col-12">
				<div class="slider-form">
					<dl class="row">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right slider-form__heading">Your/family income</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								  <div>
										<rzslider class="custom-slider" rz-slider-model="$ctrl.settings.income.value" rz-slider-options="$ctrl.settings.income.options"></rzslider>
									</div>
							</dd>
						</div>
					</dl>
					<dl class="row">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right slider-form__heading">Your/family monthly expenses for covering your credits.</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div>
									<rzslider class="custom-slider" rz-slider-model="$ctrl.settings.liability.value" rz-slider-options="$ctrl.settings.liability.options"></rzslider>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right slider-form__heading">Loan amount</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div>
									<rzslider class="custom-slider" rz-slider-model="$ctrl.settings.loan.value" rz-slider-options="$ctrl.settings.loan.options"></rzslider>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right slider-form__heading">Term</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div>
									<rzslider class="custom-slider" rz-slider-model="$ctrl.settings.term.value" rz-slider-options="$ctrl.settings.term.options"></rzslider>
								</div>
							</dd>
						</div>
					</dl>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="progress">
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
	</div>
	<hr>
	<div class="bottom-nav-buttons space-between">
		<button type="button" class="btn btn-outline-secondary" ui-sref="home">
			<i class="fa fa-angle-double-left"></i>
			Back
		</button>
		<button type="button" class="btn btn-outline-warning" ui-sref="personal-data" ng-click="$ctrl.requestLoan()">
			Next
			<i class="fa fa-angle-double-right"></i>
		</button>
	</div>
</div>
