<div class="container card-wrapper">
	<h1>{{$ctrl.heading}}</h1>
	<hr>
	<div class="card-container">
		<div class="row">
			<div class="col-12">
				<form name="personalForm" ng-submit="submitForm(personalForm.$valid)" novalidate>
					<dl class="row">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right">Education*</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div class="form-group">
								  <select required name="education" class="form-control" ng-model="$ctrl.personal.education" ng-change="" aria-label="Education">
										<option value=''>- Select -</option>
										<option ng-value="e" ng-repeat="e in $ctrl.education track by $index">{{ e }}</option>
									</select>
									<p class="red-text" ng-show="personalForm.education.$invalid" class="help-block">This field is required.</p>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.education">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right">Position held*</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div class="form-group">
									<select required name="occupation" class="form-control" ng-model="$ctrl.personal.occupation" ng-change="" aria-label="Occupation">
										<option value=''>- Select -</option>
										<option ng-value="o" ng-repeat="o in $ctrl.occupation track by $index">{{ o }}</option>
									</select>
									<p class="red-text" ng-show="personalForm.occupation.$invalid" class="help-block">This field is required.</p>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.occupation">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right">Business area of your employer*</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div class="form-group">
									<select required name="industry" class="form-control" ng-model="$ctrl.personal.industry" ng-change="" aria-label="Industry">
										<option value=''>- Select -</option>
										<option ng-value="i" ng-repeat="i in $ctrl.industry track by $index">{{ i }}</option>
									</select>
									<p class="red-text" ng-show="personalForm.industry.$invalid" class="help-block">This field is required.</p>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.industry">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right">Time employed*</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div class="form-group">
									<select required name="timeEmployed" class="form-control" ng-model="$ctrl.personal.timeEmployed" ng-change="" aria-label="Time employed">
										<option value=''>- Select -</option>
										<option ng-value="e" ng-repeat="e in $ctrl.timeEmployed track by $index">{{ e }}</option>
									</select>
									<p class="red-text" ng-show="personalForm.timeEmployed.$invalid" class="help-block">This field is required.</p>

								</div>
							</dd>
						</div>
					</dl>

					<hr ng-if="$ctrl.personal.timeEmployed">

					<dl class="row" ng-if="$ctrl.personal.timeEmployed">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right">Type of labour contract*</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div class="form-group">
									<select required name="typeOfContract" class="form-control" ng-model="$ctrl.personal.typeOfContract" ng-change="" aria-label="Type of contract">
										<option value=''>- Select -</option>
										<option ng-value="c" ng-repeat="c in $ctrl.typeOfContract track by $index">{{ c }}</option>
									</select>
									<p class="red-text" ng-show="personalForm.typeOfContract.$invalid" class="help-block">This field is required.</p>
								</div>
							</dd>
						</div>
						<div class="col-12 col-lg-4 col-xl-4" ng-if="$ctrl.personal.typeOfContract == 'Other'">
							<dt class="text-right">Please specify*</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8" ng-if="$ctrl.personal.typeOfContract == 'Other'">
							<dd>
								<div class="form-group">
									<input required name="otherTypeOfContract" type="text" class="form-control" ng-model="$ctrl.personal.otherTypeOfContract" aria-label="other type of contract">
									<p class="red-text" ng-show="personalForm.otherTypeOfContract.$invalid" class="help-block">This field is required.</p>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.typeOfContract == 'Other' ? $ctrl.personal.otherTypeOfContract : $ctrl.personal.typeOfContract">
						<div class="col-12 col-lg-4 col-xl-4">
							<dt class="text-right">Marital status*</dt>
						</div>
						<div class="col-12 col-lg-8 col-xl-8">
							<dd>
								<div class="form-group">
									<select required name="maritalStatus" class="form-control" ng-model="$ctrl.personal.maritalStatus" ng-change="" aria-label="Marital status">
										<option value=''>- Select -</option>
										<option ng-value="s" ng-repeat="s in $ctrl.maritalStatus">{{ s }}</option>
									</select>
									<p class="red-text" ng-show="personalForm.maritalStatus.$invalid" class="help-block">This field is required.</p>
								</div>
							</dd>
						</div>
					</dl>
					<hr>
					<div class="progress">
						<div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
					</div>
					<hr>
					<div class="bottom-nav-buttons space-between">
						<button type="button" class="btn btn-outline-secondary" ui-sref="calculator">
							<i class="fa fa-angle-double-left"></i>
							Back
						</button>
						<button type="button" class="btn btn-outline-warning" ng-disabled="personalForm.$invalid" ng-click="$ctrl.saveData()">
							Next
							<i class="fa fa-angle-double-right"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


</div>
