<div class="container card-wrapper">
	<h1>{{$ctrl.heading}}</h1>
	<hr>
	<div class="card-container" >
		<div class="row">
			<div class="col-12">
				<div class="slider-form">
					<dl class="row">
						<div class="col-4">
							<dt class="text-right">Education*</dt>
						</div>
						<div class="col-8">
							<dd>
								<div class="form-group">
								  <select class="form-control" ng-model="$ctrl.personal.education" ng-change="" aria-label="Education">
										<option ng-value="e" ng-repeat="e in $ctrl.education track by $index">{{ e }}</option>
									</select>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.education">
						<div class="col-4">
							<dt class="text-right">Position held*</dt>
						</div>
						<div class="col-8">
							<dd>
								<div class="form-group">
									<select class="form-control" ng-model="$ctrl.personal.occupation" ng-change="" aria-label="Occupation">
										<option ng-value="o" ng-repeat="o in $ctrl.occupation track by $index">{{ o }}</option>
									</select>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.occupation">
						<div class="col-4">
							<dt class="text-right">Business area of your employer*</dt>
						</div>
						<div class="col-8">
							<dd>
								<div class="form-group">
									<select class="form-control" ng-model="$ctrl.personal.industry" ng-change="" aria-label="Industry">
										<option ng-value="i" ng-repeat="i in $ctrl.industry track by $index">{{ i }}</option>
									</select>
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.industry">
						<div class="col-4">
							<dt class="text-right">Time employed*</dt>
						</div>
						<div class="col-8">
							<dd>
								<div class="form-group">
									<select class="form-control" ng-model="$ctrl.personal.timeEmployed" ng-change="" aria-label="Time employed">
										<option ng-value="e" ng-repeat="e in $ctrl.timeEmployed track by $index">{{ e }}</option>
									</select>
								</div>
							</dd>
						</div>
					</dl>

					<hr>

					<dl class="row" ng-if="$ctrl.personal.timeEmployed">
						<div class="col-4">
							<dt class="text-right">Type of labour contract*</dt>
						</div>
						<div class="col-8">
							<dd>
								<div class="form-group">
									<select class="form-control" ng-model="$ctrl.personal.typeOfContract" ng-change="" aria-label="Type of contract">
										<option ng-value="c" ng-repeat="c in $ctrl.typeOfContract track by $index">{{ c }}</option>
									</select>
								</div>
							</dd>
						</div>
						<div class="col-4" ng-if="$ctrl.personal.typeOfContract == 'Other'">
							<dt class="text-right">Please specify*</dt>
						</div>
						<div class="col-8" ng-if="$ctrl.personal.typeOfContract == 'Other'">
							<dd>
								<div class="form-group">
									<input type="text" class="form-control" ng-model="$ctrl.personal.otherTypeOfContract" aria-label="other type of contract">
								</div>
							</dd>
						</div>
					</dl>
					<dl class="row" ng-if="$ctrl.personal.typeOfContract == 'Other' ? $ctrl.personal.otherTypeOfContract : $ctrl.personal.typeOfContract">
						<div class="col-4">
							<dt class="text-right">Marital status*</dt>
						</div>
						<div class="col-8">
							<dd>
								<div class="form-group">
									<select class="form-control" ng-model="$ctrl.personal.maritalStatus" ng-change="" aria-label="Marital status">
										<option ng-value="s" ng-repeat="s in $ctrl.maritalStatus">{{ s }}</option>
									</select>
								</div>
							</dd>
						</div>
					</dl>

				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="progress">
	  <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
	</div>
	<hr>
	<div class="bottom-nav-buttons space-between">
		<button type="button" class="btn btn-outline-secondary" ui-sref="calculator">
			<i class="fa fa-angle-double-left"></i>
			Back
		</button>
		<button type="button" class="btn btn-outline-warning" ui-sref="more-info">
			Next
			<i class="fa fa-angle-double-right"></i>
		</button>
	</div>
</div>
